@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-blue: #00d8ff;
  --primary-purple: #6a00ff;
}

button {
  @apply bg-gradient-to-r from-[var(--primary-purple)] to-[var(--primary-blue)] py-3 px-7 rounded-3xl
}

html[data-theme="myfancytheme"] {
  --p: #4F46E5;
  --s: #22D3EE;
  --a: #E879F9;
  --n: #1E293B;
  --b1: #F8FAFC;
  --in: #0EA5E9;
  --su: #10B981;
  --wa: #FBBF24;
  --er: #EF4444;
}
